<div class="col-xs-12 " id = "heading">

    <div class = "col-xs-9" style="padding-left:0px">
        <h4><b>Log Aggregation</b></h4>
    </div>
    <div class = "col-xs-3" style="padding-right:0px">
        <div class = "col-xs-12">
            <h4 class = ""><span class = "glyphicon glyphicon-user"></span><b> User Name</b>  logout <span class  ="glyphicon glyphicon-log-out"></span> </h4>
        </div>
    </div>
</div>

<div class = "col-xs-12" >
    <iframe ng-src ="{{trustSrc(srcUrl.src)}}" height="1000px" width="100%"></iframe>
</div>

